@import '../../../styles/function.scss';

.content {
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.6);
  padding: 20px;
  position: relative;

}
.novel {
  p {
    white-space: pre-wrap;
  }
}
.name {
  position: absolute;
  bottom: calc(100% - 15px);
  left: 10px;
  background: #{map-get($siteColor,black)};
  padding: 10px 10px;
  box-sizing: border-box;
  min-width: 160px;
  border: solid 1px #{map-get($siteColor,gray)};

  p {
    line-height: 1.2;
    @include FontSize(14);
    font-weight: 700;
  }
}